.bash_history
/.composer
/shared
.idea
/vendor
.env
docker/data/*/*
docker/logs/*/*
/web/_test/
/web/test/
movetoclient.sh                          
movetoclientwithdump.sh                                   
makemysqldump.sh
makeuploadarchive.sh
cg_dump.sql
upload.tar.bz2
project.gitlab-ci.yml
.php_cs.cache
composer.lock
/docker_start/_test/
